*.lua text
*.cpp text
*.c   text
*.h   text 
*.txt 							eol=lf
*.sh 								eol=lf
3rdparty/curl-7.19.7/				eol=lf
*.sln								eol=crlf
distribute/moai-sdk/legal.txt		eol=lf
distribute/moai-sdk/license.txt		eol=lf
distribute/moai-sdk/README.txt		eol=lf
